@import url('./reset.css');
@import url('./colors.css');
@import url('./fonts.css');
@import url('./pages/resume.css');
@import url('./pages/map.css');
@import url('./pages/time.css');
@import url('./pages/notFound.css');

body {
  background-color: var(--bg-color);
  min-height: 100dvh;
}

main {
  padding: 32px 32px 0;
}

.navmenu {
  padding: 0 32px;
  height: 40px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
  background-color: var(--bg-second-color);

  & div {
    padding: 0;
    height: 100%;
    display: flex;
  }
}

.navbtn {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-items: center;
  height: 100%;
  padding: 0 16px;
  color: var(--black-color);

  &.active,
  &:hover {
    background: var(--bg-color);
  }
}

.block {
  background-color: white;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 1440px) {
  .container-xxl {
    margin: 0 !important;
  }
}

@media screen and (max-width: 768px) {
  main {
    padding: 16px 16px 0 !important;
  }

  .navmenu div {
    justify-content: center;
  }
}